@import "../../scss/variable";
@import "../../scss/mixins";
.heading {
  margin-top: 4rem;
  text-transform: uppercase;
  color: $white;
  font-size: 2.6rem;
  font-weight: 500;

  @include respond(tab-port) {
    margin-top: 1rem;
    font-size: 2rem;
  }
}
